.container {
    padding: 20px 50px;
    display: flex;
    /* align-items: center; */
    /* flex-wrap: wrap; */
    overflow-x: auto;
    /* Style scrollbar */
    scrollbar-width: thin;
    /* Set the scrollbar width */
    scrollbar-color: #888 #eee;
    height: calc(100vh - 65px);
}

.list_item {
    width: 350px;
    margin: 0 20px;
    margin-bottom: 35px;
}

/* For Firefox */
.container {
    scrollbar-width: thin;
    scrollbar-color: #888 #eee;
}

/* For WebKit-based browsers */
/* Modify scrollbar width, height, and colors */
.container::-webkit-scrollbar {
    height: 10px;
    /* Set the thickness */
    scrollbar-width: thin;
    scrollbar-color: #888 #eee;
}

.container::-webkit-scrollbar-thumb {
    background: #888;
    /* Color of the scrollbar */
    scrollbar-width: thin;
    scrollbar-color: #888 #eee;
}

.container::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Color of the scrollbar on hover */
}

.userExist {
    flex-wrap: wrap;
}

/* loader */
.linear-activity {
    overflow: hidden;
    width: 100%;
    height: 4px;
    background-color: #B3E5FC;
    margin: 20px auto;
    margin-top: 0;
}

.indeterminate {
    position: relative;
    width: 100%;
    height: 100%;
}

.indeterminate:before {
    content: '';
    position: absolute;
    height: 100%;
    background-color: #03A9F4;
    animation: indeterminate_first 2s infinite ease-out;
}

.indeterminate:after {
    content: '';
    position: absolute;
    height: 100%;
    background-color: #4FC3F7;
    animation: indeterminate_second .5s infinite ease-in;
}

@keyframes indeterminate_second {
    0% {
        left: -150%;
        width: 100%;
    }

    100% {
        left: 100%;
        width: 10%;
    }
}

/* error */
.error {
    text-align: center;
    padding: 10px;
    font-size: 18px;
    color: #ff6767;
    font-weight: 500;
}

/* Media Queries */
@media screen and (max-width:1220px) {
    .container {
        padding: 20px 25px;
        flex-wrap: wrap;
    }

    .list_item {
        margin: 0 10px;
    }
}

@media screen and (max-width:1163px) {
    .container {
        padding: 20px 18px;
    }

    .list_item {
        width: 31%;
    }
}

@media screen and (max-width:960px) {
    .list_item {
        width: 47%;
    }
}

@media screen and (max-width:745px) {
    .list_item {
        width: 90%;
    }
}

@media screen and (max-width:500px) {
    .list_item {
        width: 96%;
    }
}